@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

#header {
    /*background-image: url("");*/
    height: 250px;
    background-color: aliceblue;
}

#header p {
    text-align: right;
    margin-right: 20px;
}

#main {
    max-width: 800px;
    padding: 20px 20%;
    /*background-color: rgba(180, 140, 180, 0.96);*/
    background-color: rgba(240, 200, 220, 1);
}

#footer {
    background-color: rgba(140, 100, 120, 0.96);
    background-size: cover;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
/*#FCD2E8*/
h1 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    color: #FFE2FA;
    color: rgb(200,140,180);
    font-size: 3em;
    text-align: center;
    line-height: 200px;
    text-shadow: 3px 3px 8px #000;
}

h2 {
    font-style: italic;
}

body {
    margin: 0;
    background-color: rgba(180, 140, 180, 0.8);
    font-family: 'IBM Plex Serif', serif;
}

#container {
    max-width: 900px;
    margin: 20px auto;
}

#navbar {
    box-shadow: 0px 2px 5px rgb(100,0,100);
    background-color: rgb(140, 100, 120);
}

#nav {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}
#nav a {
    text-decoration: none;
    /* 600/2 = 300px */
    width: 500px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(120, 50, 80);
    background-color: rgb(220,100,140);
    /*background-color: rgb(150,30,70);*/ /* same as navbar */
    /*color: rgb(220,130,200);*/
}

#nav a:hover, #nav #active-nav, #nav li:has(a:hover) > a {
    /*color: rgb(120, 50, 80);
    background-color: rgb(220,100,140);*/
    background-color: rgb(150,30,70); /* same as navbar */
    color: rgb(220,130,200);
}

#nav ul {
    list-style: none; /* gets rid of the bullet points */
    margin: 0;
    padding: 0;
}

#nav li {
    width: 500px;
    text-align: center;
    position: relative;
}

#nav > ul {
    display: flex;
    align-items: flex-start;
}

#nav ul ul {
    display: none;
    position: absolute;
}

#nav li:hover > ul {
    display: block;
}
